body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee; /* Background Gray */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #333; /* Text Dark */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-box {
  background-color: #ffffff; /* White */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-box h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}

.input-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Border Gray */
  border-radius: 4px;
  background-color: #f8f9fa; /* Light Gray */
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
  border-color: #2e7d32; /* Primary Green */
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #2e7d32; /* Primary Green */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.login-btn:hover {
  background-color: #1b5e20; /* Sedikit lebih gelap dari Primary Green */
}
