main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

main article {
  margin: 20px 10px;
  padding: 20px;
  flex-basis: 72%;
  background-color: #ffffff;
  border-radius: 10px;
}

main article .rb {
  align-items: center;
  padding: 30px;
}

main article p {
  margin: 10px 0px;
}

main aside {
  flex-basis: 23%;
  flex-grow: 1;
}

main aside .tag,
main aside .news,
main aside .vid {
  font-family: sans-serif;
  margin: 20px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}

main .tag ul,
main .news ol,
main .vid,
main .tags ol {
  margin: 5px 30px;
}

main aside h3 {
  margin-top: 20px;
}

header {
  font-family: sans-serif;
  background-color: #ffffff;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  border-bottom: none;
}

header .left .logo {
  color: #3d7d32;
}

header .user {
  font-weight: bold;
}

nav {
  background-color: #3d7d32;
  text-align: right;
  height: 50px;
}

nav ul {
  vertical-align: middle;
}

nav li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

nav ul li:hover {
  background-color: #3d7d32;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
}

.btn {
  height: 40px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.btn-primary {
  background-color: #3d7d32;
  color: white;
}

.btn-primary:hover {
  background-color: #3d7d32;
}

.float-end {
  float: right;
}

footer {
  background-color: #3d7d32;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.foto {
  height: 500px;
}

main aside .tags {
  margin: 20px 10px;
  padding: 20px;
  flex-basis: 72%;
  background-color: #ffffff;
  border-radius: 10px;
}
